

/* Global */

.services-header,.portfolio-header, about-header, .testimonial-header, .blog-header, .contact-header {
    margin-bottom: 50px; 
    text-align: center;
}




/*  Header-Navigation */

header{
    height: 100px; 
    color: #fff;
    line-height: 112px;
    position: fixed;
    width: 100%;
    z-index:  100;
}

header h1{
    color: #fff;
    padding-top: 10px;
}

header a.logo {
    float: left;
}

header nav {
    float: right; 
    font-weight: bold;
    position: relative;
    bottom: 40px;
}


header nav ul li {
  padding-left: 30px;
    
}

header nav ul li a {
    color: #fff;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
}

header nav ul li a:hover, header nav ul li a:focus {
    color: #e74c3c;
    text-decoration: none;
    border-bottom: 2px solid #e74c3c;
    font-weight: bold;
}

.slicknav_menu {
    display: none;
}

/* Slider Section */

.slider, .slider .slider-carousel, .slider .slider-carousel li {
    height: 600px;
    width: 100%;
    text-align: center;
    color: #fff;
}

.img1 {
    background: url(../Img/Slider/milwaukee-header2.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover; 
}

.slider h1{
    margin-top: 0;
    position: relative;
    top: 200px;
    color: #fff;
}
.slider .slider-carousel li  {
    color: #fff;
}

.slider .slider-carousel li p {
    position: relative;
    top: 250px;
    margin-bottom: 50px;
    font-size: 1.25em;
    font-weight: bold;
}


.slider a {
    padding: 10px 60px;
    margin-right: 30px;
    color: #fff;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

.slider ul.slider-carousel li a:last-child {
    margin-right: 0;
}

.slider-btn {
    position: relative;
    bottom: 250px;
    
}

.slider .slider-btn a.cta1:hover{
    background-color: #f66354;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

.slider .slider-btn a.cta2:hover{
    background-color: #4297ed;
      border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

.slider .sliderpager li a {
    padding: inherit;
    margin: 10px; 
    color: #fff;
    background: opacity 0.5; 
}

.slider .sliderpager li.selected a{
    color: #e74c3c;
}

.slider .sliderpager 
{
    align-content: center; 
    position: relative;
    bottom: 120px;
    right: 5px;
}

.slider .sliderpager li  a {
    margin-right: 0; 
}


/* Services */

.services {
    background-color: #eeeeee;
    text-align: center;
}



.fa-laptop, .fa-desktop, .fa-image, .fa-server, .fa-clone, .fa-ambulance {
    font-size: 60px;
    text-shadow: 5px 2px 4px #DADADA;
}

.fa-laptop {
    color: #E37660;
}

.fa-desktop {
    color: #6098E3;
}

.fa-image {
    color: #D1A153;
}

.fa-server {
    color: #8C53D1;
}

.fa-clone {
    color: #93BD5E;
}

.fa-ambulance {
    color: #C82135;
}

.col-md-4 {
    margin-bottom: 20px;
}

.services .services-content h3 {
    color: #7B8FA2;
}

/* Portfolio */

.portfolio {
    text-align: center;
    color: #fff;
    background: #E7E4E8; 
    background: linear-gradient(to top, rgba(231,228,232,0), rgba(231,228,232,1));
}

.portfolio .inner-content {
    position: relative;
    width: 100%;
    
}

.portfolio .inner-content img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .3s ease;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    backface-visibility: hidden;
}

.portfolio .inner-content .overlay-content {
    position: absolute;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    transform: translate(-80%, -50%);
    transition: all 0.3s ease-in;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.text {
    background-color: #000;
    width: 50%;
    margin: auto;
    padding: 10px 20px;
    border-radius: 5%;
    
}

.portfolio .inner-content .overlay-content h3, .portfolio .inner-content .overlay-content p{
    color: #fff;
}

.portfolio .inner-content .overlay-content h3 {
    margin-top: 75px;
    color: #e74c3c;
}

.portfolio .inner-content:hover img {
    opacity: 0.3; 
}

.portfolio .inner-content:hover .overlay-content {
    opacity: 1; 
}

.portfolio .inner-content .overlay-content p a {
    color: #2d82d8;
    font-weight: bold;
}

/* About */

#about {
    background-color: #eeeeee;
}

.about-header {
    text-align: center;
}
.about-header h1 {
    margin-bottom: 50px
}

.polaroid {
    padding: 10px; 
}

.polaroid-info p {
    width: 100%;
    float: right;
    font-size: 1.5em;
    font-weight: bold;
    padding-right: 150px;
    color: #35414a;
}

#my-image {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%; 
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 20px;
    
}

/* My Skills */

.my-skills {
    background: #E7E4E8; 
    background: linear-gradient(to top, rgba(231,228,232,0), rgba(231,228,232,1));
}

.caption {
    text-align: center;
    margin-bottom: 15px;
    color: #0d2c36; 
}

.caption-2 {
    text-align: center;
}

.fa-html5 {
    font-size: 8em;
    color: #E76C32;
}

.fa-css3-alt {
    font-size: 8em;
    color: #3E71C4;
}

.fa-js {
    font-size: 8em;
    color: #EB883B;
}

.fa-php {
    font-size: 8em;
    color: #7D74B2;
}

.fa-database {
    font-size: 8em;
    color: #4E4E4E;
}

.fa-git {
    font-size: 8em;
    color: #E4563F;
}

.caption h2 {
    color: #0d2c36;
    margin-bottom: 40px;
}

.skills-content h3 {
    color: #7B8FA2;
}

.skills-content h5{
    font-weight: bold;
}






/* Testimonials */

#testimonials {
    background-color: #10202f;
    background: linear-gradient( rgba(28, 36, 46, 0.99), rgba(28, 36, 46, 0.95)),url(../Img/ClientTestimonials/meeting.jpg) no-repeat;
    background-position: center; 
    background-size: cover;
    color: #fff;
    height: 650px;
}

#testimonials h1 {
    color: #fff;
}

.testimonials-header {
    text-align: center;
    margin-bottom: 42px;
}

.testimonial-carousel li, .my-image-2, .name, .position {
    text-align: center;
}

.testimonialpager {
    text-align: center;
}

 .testimonialpager li {
    margin-right: 10px; 
    color: #fff;
    background: opacity 0.5; 
}

.testimonialpager li:last-child {
    margin-right: 0;
}

.testimonialpager li a {
    color: #fff;
}

.testimonialpager li.selected a{
    color: #e74c3c;
}

.testimonial-carousel li {
    
}

blockquote {
    border: none;
    width: 50%;
    margin: 0 auto;
    line-height: 1.5em;
    position: relative;
    font-size: 14px;
}

.testimonial-carousel li img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 1px solid #ddd;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
    margin-bottom: 30px;
   -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    
}

.testimonial-carousel li .name{
    font-weight: bold;
    color: #e74c3c;
}

.testimonial-carousel li .position{
    font-weight: bold;
    margin-bottom: 30px;
}

/* Blog */

.animation img {
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.6), 0 6px 20px 0 rgba(0,0,0,0.9);
    margin: 15px;
}

.animation h3 {
    text-align: center;
    margin: 15px;
}

.animation p {
    text-align: center;
}

/* Contact */

.contact {
    padding: 10px 0 0 0;
    background: linear-gradient( rgba(57, 195, 174, 0.75), rgba(57, 195, 174, 0.85)), url(../Img/ContactUs/workstation.jpg) no-repeat;
    background-position: center; 
    background-size: cover;
    
}

.contact-header h1{
    color: #fff;
}

form {
    width: 25%;
    margin: 0 auto;
    text-align: center;
    text-align: center;
}

input:not([type=submit]), textarea {
    width: 100%;
    margin-bottom: 20px;
    padding-left: 20px;
    border: none;
}

input:not([type=submit]) {
    height: 40px;
    line-height: 40px;
}

textarea {
    padding-top: 10px;
}

#submit {
    padding: 10px 40px;
    background-color: #e74c3c;
    color: #fff;
    border-style: none;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.6), 0 6px 2px 0 rgba(0,0,0,0.9);
}

/* Footer */

footer h1 {
    padding-bottom: 25px;
}
footer .contact-icon {
    text-align: left;
}

footer p span {
    padding-left: 15px;
    font-weight: bold;
}

.fa-envelope, .fa-mobile, .fa-location-arrow {
    color: #e74c3c;
    font-size: 25px; 
}

.fa-mobile {
    font-size: 35px !important;
    padding-left: 5px;
}

.contact-phone {
    position: relative;
    bottom: 5px;
}

.update-form {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    text-align: center;
}

#take-email {
    box-shadow: none; 
    border: 1px solid grey; 
}
#submit-button {
    padding: 10px 40px;
    background-color: #e74c3c;
    color: #fff;
    border-style: none;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.6), 0 6px 2px 0 rgba(0,0,0,0.9);
}

.footer-social-links li {
    padding-right: 20px;
    font-size: 35px;
}

.footer-social-links li a .fa-facebook-f {
    color: #3B5998; 
}

.footer-social-links li a .fa-twitter {
    color: #1DA1F2; 
}

.footer-social-links li a .fa-linkedin {
    color: #007BB5; 
}

.footer-social-links li a .fa-dribbble {
    color: #C32361; 
}

.footer-social-links li a .fa-youtube {
    color: #FF0000; 
}

.copyright {
    text-align: center;
    background: #000;
    color: #fff;
    height: 50px;
}

.copyright p {
    padding-top: 20px
}

/******** Media Quieries *********/

@media only screen and (max-width: 991px) {
    /* About */
    
    .about-me-text{
        width: 100%;
        text-align: center;
    }
    
    .about-me-text p{
        padding: 0;
    }

    /* Blog */
    
    .animation img {
        margin: 0 auto;
        display: block;
        
    } 
    
    form {
    width: 60%;
}
}

@media only screen and (max-width: 768px) {
    
    /* Header and Navigation */
    
    header div h1 {
        margin-left: 10px;
    }
    .container nav {
        overflow: hidden;
        position: absolute;
        right: 30px;
        top: 5px;
        display: block;
    }
    
    #menu {
        display: none;
    }
    .slicknav_nav {
        background: #34495e;
        width: 350px !important;
        
    }
    
     .slicknav_nav li {   
         margin: 0;
         padding: 0;
         height: 3em;
         width: 350px; 
    }
    
    .slicknav_nav li a:hover{
        background-color: rgba(0,0,0,0);
        color: #e74c3c;
        border-bottom: 2px solid #e74c3c;
        font-weight: bold;
    }
    
    .slicknav_menutxt{
        display: none !important;
    }
    
    .slicknav_menu {
        display: inline-block;
        padding: 0;
        position: fixed;
        background: rgba(0,0,0,0) !important; 
        z-index: 1000;
        right: 0px;
        margin-top: 25px;
    }
    
    
    
    
    .slicknav_icon {
        position: relative !important;
        bottom: 7px;
        right: 25px;
    }
    
    .slicknav_icon-bar {
        width: 3em !important;
        height: .35em !important;
        border-radius: 25%;
        margin-bottom: 5px;
    }
    
    /* About */
    .polaroid{
        text-align: center;
    }
    
    #my-image {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 80%; 
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 20px;
    
}
    /* Testimonials  */
    
    #testimonials{
        height: 675px;
    }
  /* Footer */ 
    
    footer {
        text-align: center;
    }
    
    footer .contact-icon {
    text-align: center;
}
    footer .contact-info .fa-mobile, .fa-location-arrow, .contact-phone, .contact-location {
        position: relative;
        right: 45px; 
    }
}

    

@media only screen and (max-width: 550px) {
    /*  Contact */
    
    form {
        width: 80%;
}
    
}

@media only screen and (max-width: 490px) {
    /* Testimonials */
    
    #testimonials {
        height: 695px !important;
    }
    
}
@media only screen and (max-width: 465px){
    .slider-btn a {
        display: block;
        width: 80%;
        text-align: center;
        position: relative;
        margin: 0 auto 15px auto;
    }
    
    .slider ul li a{
        position: relative;
        bottom: 80px;
    }
    
     /* Testimonials  */
    
    #testimonials{
        height: 725px !important;
    }
}

@media only screen and (max-width: 435px) {
    
    /* Slider */
    
    
    .slider-btn a {
        display: block;
        width: 80%;
        text-align: center;
        position: relative;
        margin: 0 auto 15px auto;
    }
    
    .slider ul li a{
        position: relative;
        bottom: 80px;
    }
}

@media only screen and (max-width: 375px) {
    .testimonials {
        height: 675px !important;
    }
}


   


  